*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#wrapper {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 600px;
    border: 3px solid #cf1ecf;
    padding-top: 15px;
    
}

.form{
    padding: 0 2em 1em;
}

#amountOfChange{
    margin-bottom: 15px;
}
h1 {
    color: blue;
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 16em;
    text-align: right;
    margin-bottom: 5px;
}

input {
    margin-left: 0.5em;
    margin-right: 0.75em;
}


input[readonly] {
    background-color: #f0f0f0;
    color: #555;            
    border: 1px solid #ccc;  
}

button{
    padding: 0 5px;
}

footer{
    font-size: 13px;
}